<!DOCTYPE html>
<html class="no-js">

<head>
    <link rel="icon" href="/images/img/cropped_image.png" type="image/x-icon">
    <title>MindStory - Best Clinical Psychology Services in Pune Dr. Rupali Shinde</title>
    <meta name="google-site-verification" content="5xdo4AGauOiVsflHuMOyTdw6NsUS_fIb_vLUotrnLso"   />
    <meta charset="utf-8">
    <!--[if IE]> <meta http-equiv="X-UA-Compatible" content="IE=edge"><![endif]-->
    <meta name="description"
        content="MindStory provides compassionate clinical psychology services, helping individuals, families, and professionals improve mental well-being. Book an appointment now.">
    <meta name="keywords"
        content="clinical psychology, mental health, counseling, therapy, MindStory, Deccan, Dr. Rupali, Shinde, Pune">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css" id="color-switcher-link">
    <link rel="stylesheet" href="/css/animations.css">
    <link rel="stylesheet" href="/css/fonts.css">
    <%- style%>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- <script src="/js/vendor/modernizr-2.6.2.min.js"></script> -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <!--[if lt IE 9]> <script src="js/vendor/html5shiv.min.js"></script> <script src="js/vendor/respond.min.js"></script><![endif]-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>

<body>
    <div class="preloader">
        <div class="preloader_image"></div>
    </div>
    <!--[if lt IE 9]> <div class="bg-danger text-center">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/" class="highlight">upgrade your browser</a> to improve your experience.</div><![endif]-->
    <div id="canvas">
        <div id="box_wrapper" class="">
            <header class="page_header header_white table_section columns_padding_0 toggler-xs-right">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3 col-sm-5 selected">
                            <a href="/" class="logo" style="text-decoration:none; color: purple"><img
                                    src="/images/img/cropped_image.png" class="img-fluid pe-4"
                                    style="max-height: 70px;">MindStory</a>
                            <!-- header toggler --><span class="toggle_menu visible-xs">
                                <span></span>
                            </span>
                        </div>
                        <div class="col-md-6 col-sm-2 text-center">
                            <!-- main nav start -->
                            <nav class="mainmenu_wrapper">
                                <ul class="mainmenu sf-menu ps-4 list-unstyled">
                                    <li><a href="#" class=" text-decoration-none" data-mce-href="#">Blogs<br></a></li>
                                    <li><a href="#" class=" text-decoration-none" data-mce-href="#">Testimonials</a>
                                    </li>
                                    <% if(locals.user && user.gender){%>
                                        <li><a class=" text-decoration-none" href="/patient/profile"
                                                data-mce-href="#">Profile<br></a></li>
                                        <li class="dropdown">
                                            <a class="dropdown-toggle tex-decoration-none"
                                                href="/appointment/upcomingpt/<%= user.id%>"
                                                id="navbarDropdownAppointments" role="button" data-bs-toggle="dropdown"
                                                aria-expanded="false">
                                                Appointments</a>
                                            <ul class="list-unstyled">
                                                <li><a class="text-decoration-none"
                                                        href="/appointment/upcomingpt/<%= user.id%>">Upcoming </a></li>
                                                <li><a class=" text-decoration-none" href="/appointment/book">Book</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <%}%>
                                            <%if(locals.user && user.verified && user.verified==true) {%>
                                                <li class="nav-item  text-decoration-none">
                                                    <a class="text-decoration-none" href="#">Patients</a>
                                                </li>

                                                <!-- Appointments Dropdown -->
                                                <li class="nav-item dropdown ">
                                                    <a class="dropdown-toggle text-decoration-none" href="#"
                                                        id="navbarDropdownAppointments" role="button"
                                                        data-bs-toggle="dropdown" aria-expanded="false">
                                                        Appointments
                                                    </a>
                                                    <ul class="list-unstyled fs-3"
                                                        aria-labelledby="navbarDropdownAppointments">
                                                        <li><a class="ps-3 text-decoration-none"
                                                                href="/appointment/upcomingdr/<%= user.id%>">Upcoming
                                                            </a></li> <!-- Left padding added -->
                                                        <li><a class="ps-3 text-decoration-none" href="#">Past </a></li>
                                                        <!-- Left padding added -->
                                                        <li><a class="ps-3 text-decoration-none"
                                                                href="/availability/doctor-availability">Set
                                                                Calendar</a></li> <!-- Left padding added -->
                                                    </ul>
                                                </li>
                                                <%}%>
                                                    <% if(!locals.user){%>
                                                        <li><a href="/sign_in" text-decoration-none
                                                                data-mce-href="#">Sign In / Sign Up</a>
                                                        </li>

                                                        <% }else{ %>
                                                            <li><a href="/authentication/patient-sign-out"
                                                                    data-mce-href="#" class="text-decoration-none">Sign
                                                                    Out</a></li>
                                                            <%}%>
                                </ul>
                            </nav><!-- eof main nav --><span class="toggle_menu hidden-xs"><span></span></span>
                        </div>
                        <div class="col-md-3 col-sm-5 text-right hidden-xs lightgreylinks">
                            <div class="page_social_icons divided_content"><span><a class="social-icon soc-facebook"
                                        href="#" title="Facebook"></a></span><span><a class="social-icon soc-twitter"
                                        href="#" title="Twitter"></a></span><span><a class="social-icon soc-google"
                                        href="#" title="Google"></a></span><span><a class="social-icon soc-linkedin"
                                        href="#" title="LinkedIn"></a></span></div>
                        </div>
                    </div>
                </div>
            </header>
            <%- body%>
        </div><!-- eof #box_wrapper -->
    </div>
    </div>
    <!-- Footer Section -->
    <footer
        style="background-color: #111; color: #fff; padding: 30px 20px; text-align: center; font-family: Arial, sans-serif;">
        <div style="display: flex; flex-wrap: wrap; justify-content: space-around; gap: 20px;">
            <!-- About Us -->
            <div style="flex: 1; min-width: 200px;">
                <h3 class="fs-2">About Us</h3>
                <p class="fs-4">With 6 years of experience in Clinical Psychology, we provide compassionate care and
                    evidence-based therapies to help individuals, families, and professionals. Trusted by clients from
                    diverse backgrounds, we are dedicated to empowering mental well-being and fostering life-changing
                    results.</p>
            </div>

            <!-- Quick Links -->
            <div class="fs-4" style="flex: 1; min-width: 200px;">
                <h3 class="fs-2">Quick Links</h3>
                <ul style="list-style: none; padding: 0; line-height: 1.8;">
                    <li><a href="#canvas" style="color: #fff; text-decoration: none;">› Home</a></li>
                    <li><a href="#what_we_offer" style="color: #fff; text-decoration: none;">› About</a></li>
                    <li><a href="#services" style="color: #fff; text-decoration: none;">› Services</a></li>
                    <!-- <li><a href="#book-appointment" style="color: #fff; text-decoration: none;">› Book An Appointment</a></li> -->
                </ul>
            </div>

            <!-- Address -->
            <div style="flex: 1; min-width: 200px;">
                <h3>Address</h3>
                <p class="fs-4">5th Floor, 633, Abhinandan Plaza, Rutugandh Business Center, above Hotel Sukanta,
                    Pulachi Wadi, Deccan Gymkhana, Pune, Maharashtra 411004.
                </p>
                <p class="fs-4"><a href="tel:+918329520366
                " style="color: #fff; text-decoration: none;">+91 8329520366
                    </a></p>
            </div>

            <!-- Google Map -->
            <div style="flex: 1; min-width: 200px;">
                <h3>Google Map</h3>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.2658794150057!2d73.8419732451439!3d18.516883384233406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c1fdf4e72df9%3A0x75527ad42e2d86e6!2sDr.Rupali%20Shinde%20(MBBS%2CMD%2CDNB%20Psychiatry)%20-%20Mind%20Story%20Clinic%2C%20best%20female%20psychiatrist%20in%20pune!5e0!3m2!1sen!2sin!4v1731158167868!5m2!1sen!2sin"
                    width="100%" height="150" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3783.2658794150057!2d73.8419732451439!3d18.516883384233406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c1fdf4e72df9%3A0x75527ad42e2d86e6!2sDr.Rupali%20Shinde%20(MBBS%2CMD%2CDNB%20Psychiatry)%20-%20Mind%20Story%20Clinic%2C%20best%20female%20psychiatrist%20in%20pune!5e0!3m2!1sen!2sin!4v1731158167868!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
        <!-- Footer Bottom -->
        <div style="border-top: 1px solid #333; padding-top: 10px; margin-top: 20px;">
            <p>Copyright © 2024 <a href="https://www.drrupalishinde.in"
                    style="color: #fff; text-decoration: none;">drrupalishinde</a> | All rights reserved.</p>
        </div>

        <!-- Book Appointment Button -->
        <% if(locals.user && user.verified){%>

            <%}else{ %>
                <a href="/appointment/book"
                    style="position: fixed; bottom: 80px; right: 5px; background-color: #25D366; color: #fff; padding: 10px 20px; border-radius: 25px; text-decoration: none; font-weight: bold;">
                    Book An Appointment
                </a>
                <%}%>
    </footer>
    <!-- eof #box_wrapper and #canvas -->
    <%- script%>
        <script src="/js/compressed.js"></script>
        <script src="/js/main.js"></script>
        <!-- hidden recaptcha input -->

</body>

</html>