<div class="container mt-5">
    <h2 class="text-center mb-4">Upcoming Appointments</h2>
    <table class="table table-striped table-hover fs-4">
        <thead class="table-light">
            <tr>
                <th scope="col" class="fs-4">Patient Name</th>
                <th scope="col" class="fs-4">Appointment Start Time</th>
                <th scope="col" class="fs-4">Session Type</th>
                <th scope="col" class="fs-4">Therapy Type</th>

            </tr>
        </thead>
        <tbody id="appointmentsTableBody">
            <% for (let apt of upcomingAppointments) { %>
            <tr class="fs-5">
                <td ><%= apt.patient.firstName %> <%= apt.patient.lastName %></td>
                <td><%= new Date(apt.date).toLocaleDateString() + ' - ' + apt.timeSlot %></td>
                <td><%= apt.sessionType %></td>
                <td><%= apt.sessionMode %></td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>
